{%extends "AppInicio/base.html"%}

{%load static%}

{%block dep%}

{%endblock%}

{%block menu%}

<li><hr class="dropdown-divider"/><b>Departamentos</b></li>
<li><a class="dropdown-item" href="{% url 'Hogar' %}">Hogar</a></li>
<li><a class="dropdown-item" href="{% url 'Tecnologia' %}">Tecnologia</a></li>
<li><a class="dropdown-item" href="{% url 'Ropa' %}">Ropa</a></li>

{%endblock%}

{%block head%}

<h1 class="display-4 fw-bolder">Mega Market</h1>
<p class="lead fw-normal text-white-50 mb-0">Tienda en linea</p>

{%endblock%}

{%block contenido%}

<h2>Descripcion</h2>

<p>Somos una empresa de ventas online, con 3 departamentos: Hogar, Tecnologia y Ropa</p>

<h2>Nosotros</h2>

<p>En cada uno de nuestros departamentos tenemos a un especialista.</p>
<ul>
    <li>Hogar : Fererido</li>
    <li>Tecnologia : Jorge</li>
    <li>Ropa : Estaban</li>
</ul>

{%endblock%}