{%extends "AppInicio/base.html"%}

{%load static%}

{%block dep%}

<a class="navbar-brand" href="#!">About</a>

{%endblock%}

{%block menu%}
<li><hr class="dropdown-divider"/><b>Usuario</b></li>
<li><a class="dropdown-item" href="{% url 'Login' %}">Login</a></li>
<li><a class="dropdown-item" href="{% url 'EditarPerfil' %}">Editar Usuario</a></li>
<li><a class="dropdown-item" href="{% url 'Logout' %}">Logout</a></li>
<li><hr class="dropdown-divider"/><b>Departamentos</b></li>
<li><a class="dropdown-item" href="#!">Hogar</a></li>
<li><a class="dropdown-item" href="{% url 'Tecnologia' %}">Tecnologia</a></li>
<li><a class="dropdown-item" href="#!">Ropa</a></li>

{%endblock%}

{%block head%}

<h1 class="display-4 fw-bolder">Mega Market</h1>
<p class="lead fw-normal text-white-50 mb-0">Hogar, Tecnologia y Ropa</p>

{%endblock%}

{%block contenido%}
    
    <form action="" method="POST">
        
        {% csrf_token %}
        
        <table>
        {{form.as_table}}
        </table>
        
        <input type="submit" value="Iniciar Sesion">

        <button>
            <a href="{% url 'Registro' %}">Nuevo Registro</a>      
        </button>
    </form>

{%endblock%}