{%extends "AppInicio/base.html"%}

{%load static%}

{%block dep%}

{%endblock%}

{%block menu%}

<li><hr class="dropdown-divider"/><b>Departamentos</b></li>
<li><a class="dropdown-item" href="{% url 'Hogar' %}">Hogar</a></li>
<li><a class="dropdown-item" href="{% url 'Tecnologia' %}">Tecnologia</a></li>
<li><a class="dropdown-item" href="{% url 'Ropa' %}">Ropa</a></li>

{%endblock%}

{%block head%}

<h1 class="display-4 fw-bolder">Mega Market</h1>
<p class="lead fw-normal text-white-50 mb-0">Hogar, Tecnologia y Ropa</p>

{%endblock%}

{%block contenido%}
    
    <h3>Logout Correcto.</h3>

{%endblock%}