{%extends "AppInicio/base.html"%}

{%load static%}

{%block dep%}


{%endblock%}

{%block menu%}
<li><hr class="dropdown-divider"/><b>Productos</b></li>
<li><a class="dropdown-item" href="{% url 'Blanco' %}">Blancos</a></li>
<li><a class="dropdown-item" href="{% url 'Cocinas' %}">Cocinas</a></li>
<li><a class="dropdown-item" href="{% url 'Electrodomesticos' %}">Electrodomesticos</a></li>
{%endblock%}

{%block head%}

<h1 class="display-6 fw-bolder">Mega Market</h1>
<h1 class="display-1 fw-bolder">Editar blancos</h1>


{%endblock%}

{%block contenido%}
{% if miFormulario.errors %}

    <p style="color: red;">ERROR</p>

    {%endif%}


<form action="" method="POST"  > {% csrf_token %}

    <table>
    {{miFormulario.as_table}}
    </table>


    

    <input type="submit" value=" EDITAR">



</form>

{%endblock%}