{%extends "AppInicio/base.html"%}

{%load static%}

{%block dep%}

<a class="navbar-brand" href="#!">Nosotros</a>

{%endblock%}

{%block menu%}
<li><a class="dropdown-item" href="{% url 'Blanco' %}">Blancos</a></li>
<li><a class="dropdown-item" href="{% url 'Cocinas' %}">Cocinas</a></li>
<li><a class="dropdown-item" href="{% url 'Electrodomesticos' %}">Electrodomesticos</a></li>
{%endblock%}

{%block head%}

<h1 class="display-6 fw-bolder">Mega Market</h1>
<h1 class="display-1 fw-bolder">Electrodomesticos</h1>


{%endblock%}

{%block contenido%}

<a class="dropdown-item" href="{% url 'LeerElectrodomesticos' %}">Lista Electrodomesticos</a>

{%endblock%}