{%extends "AppInicio/base.html"%}

{%load static%}

{%block dep%}


{%endblock%}

{%block menu%}
<li><hr class="dropdown-divider"/><b>Productos</b></li>
<li><a class="dropdown-item" href="{% url 'Blanco' %}">Blancos</a></li>
<li><a class="dropdown-item" href="{% url 'Cocinas' %}">Cocinas</a></li>
<li><a class="dropdown-item" href="{% url 'Electrodomesticos' %}">Electrodomesticos</a></li>
{%endblock%}

{%block head%}

<h1 class="display-6 fw-bolder">Mega Market</h1>
<h1 class="display-1 fw-bolder">Hogar</h1>
<p class="lead fw-normal text-white-50 mb-0">Blancos, Cocinas y Electrodomesticos</p>

{%endblock%}

{%block contenido%}

   

{%endblock%}