{%extends "AppInicio/base.html"%}

{%load static%}

{%block dep%}


{%endblock%}

{%block menu%}

<li><hr class="dropdown-divider"/><b>Productos</b></li>
<li><a class="dropdown-item" href="{% url 'Laptops' %}">Laptops</a></li>
<li><a class="dropdown-item" href="{% url 'LeerCelulares' %}">Celulares</a></li>
<li><a class="dropdown-item" href="{% url 'LeerTelevisores' %}">Televisores</a></li>

{%endblock%}

{%block head%}

<h1 class="display-4 fw-bolder">Celulares</h1>
<p class="lead fw-normal text-white-50 mb-0">Registrar, Leer, Editar y Eliminar</p>

{%endblock%}

{%block contenido%}
    
    {% if fomularioCelular.errors %}

    <p style="color: red;">ERROR</p>

    {%endif%}

    <form action="/AppTecno/celularesRegistro", method="post">{% csrf_token %}

        
        <table>

        {{ formularioCelular.as_table }}
        
        </table>
        
        <input type="submit" value="Registro">

    </form>

{%endblock%}