{%extends "AppInicio/base.html"%}

{%load static%}

{%block menu%}


<li><a class="dropdown-item" href="{% url 'LeerLaptops' %}">Laptops</a></li>
<li><a class="dropdown-item" href="{% url 'LeerCelulares' %}">Celulares</a></li>
<li><a class="dropdown-item" href="{% url 'LeerTelevisores' %}">Televisores</a></li>

{%endblock%}

{%block head%}

<h1 class="display-4 fw-bolder">Laptops</h1>
<p class="lead fw-normal text-white-50 mb-0">Registro, Busqueda y Modificaciones</p>

{%endblock%}

{%block contenido%}
    
    {% if fomularioLaptop.errors %}

    <p style="color: red;">ERROR</p>

    {%endif%}

    <form action="/AppTecno/laptopRegistro", method="post">{% csrf_token %}

        
        <table>

        {{ formularioLaptop.as_table }}
        
        </table>
        
        <input type="submit" value="Registro">

    </form>

{%endblock%}