{%extends "AppInicio/base.html"%}

{%load static%}

{%block dep%}

<a class="navbar-brand" href="#!">About</a>

{%endblock%}

{%block menu%}
<li><hr class="dropdown-divider"/><b>Usuario</b></li>
<li><a class="dropdown-item" href="{% url 'Login' %}">Login</a></li>
<li><a class="dropdown-item" href="{% url 'EditarPerfil' %}">Editar Usuario</a></li>
<li><a class="dropdown-item" href="{% url 'Logout' %}">Logout</a></li>
<li><hr class="dropdown-divider"/><b>Productos</b></li>
<li><a class="dropdown-item" href="{% url 'Laptops' %}">Laptops</a></li>
<li><a class="dropdown-item" href="{% url 'LeerCelulares' %}">Celulares</a></li>
<li><a class="dropdown-item" href="{% url 'LeerTelevisores' %}">Televisores</a></li>

{%endblock%}

{%block head%}

<h1 class="display-4 fw-bolder">Celulares</h1>
<p class="lead fw-normal text-white-50 mb-0">Registrar, Leer, Editar y Eliminar</p>

{%endblock%}

{%block contenido%}
    <form action="/AppTecno/buscarCelular/" method="GET">
        <input type="text" name="marca" id="marca">

        <input type="submit" value="Busqueda Por Marca">
    </form>
    <h3>
        <button type="button" class="btn btn-link">

        <a href="{% url 'CelularesRegistro' %}">Nuevo Registro</a>

        </button>
    </h3>
    {% for l in celulares %}

        <li>{{l}}</li>

        <button>

            <a href="{% url 'EliminarCelular' l.id %}">Eliminar</a>

        </button>
    
        <button>

            <a href="{% url 'EditCel' l.id %}">Editar</a>

        </button>


    {% endfor %}
    
{%endblock%}