{%extends "AppInicio/base.html"%}

{%load static%}

{%block dep%}



{%endblock%}

{%block menu%}

<li><hr class="dropdown-divider"/><b>Productos</b></li>
<li><a class="dropdown-item" href="{% url 'Laptops' %}">Laptops</a></li>
<li><a class="dropdown-item" href="{% url 'LeerCelulares' %}">Celulares</a></li>
<li><a class="dropdown-item" href="{% url 'LeerTelevisores' %}">Televisores</a></li>

{%endblock%}

{%block head%}

<h1 class="display-4 fw-bolder">Tecnologia</h1>
<p class="lead fw-normal text-white-50 mb-0">Laptops, Celulares y Televisores</p>

{%endblock%}

{%block contenido%}


{%endblock%}