{%extends "AppRopa/base.html"%}

{%load static%}

    {%block head%}

        <h1 class="display-4 fw-bolder">Ropa Niños de la Base de datos</h1> 

    {%endblock%}

    {%block contenido%}

        {% for r in niños %}

            <li> ROPA: {{r}}  </li>
            <button>

                <a href="{% url 'EliminarRopaNiños' r.id %}"> Eliminar </a>

            </button>

            <button>

                <a href="{% url 'EditarRopaNiños' r.id %}"> Editar </a>

            </button>

        {% endfor %}

        <a href="/AppRopa/niñosFormulario">Agregar otra Ropa</a>

    {%endblock%}