{%extends "AppInicio/base.html"%}

{%load static%}
{%block menu%}

<li><hr class="dropdown-divider"/><b>Departamentos</b></li>
<li><a class="dropdown-item" href="{% url 'LeerRopaHombre' %}">Hombres</a></li>
<li><a class="dropdown-item" href="{% url 'BusquedaRopaHombre' %}">Busqueda</a></li>
<li><hr class="dropdown-divider"></li>
<li><a class="dropdown-item" href="{% url 'LeerRopaMujer' %}">Mujeres</a></li>
<li><a class="dropdown-item" href="{% url 'BusquedaRopaMujer' %}">Busqueda</a></li>
<li><hr class="dropdown-divider"></li>
<li><a class="dropdown-item" href="{% url 'LeerRopaNiños' %}">Niños</a></li>
<li><a class="dropdown-item" href="{% url 'BusquedaRopaNiños' %}">Busqueda</a></li>

{%endblock%}
    {%block head%}

        <h1 class="display-4 fw-bolder">Ropa Mujer de la Base de datos</h1> 

    {%endblock%}

    {%block contenido%}

        {% for r in mujer %}

            <li> ROPA: {{r}}  </li>
            <button>    

                <a href="{% url 'EliminarRopaMujer' r.id %}"> Eliminar </a>

            </button>

            <button>

                <a href="{% url 'EditarRopaMujer' r.id %}"> Editar </a>

            </button>

        {% endfor %}

        <a href="/AppRopa/mujerFormulario">Agregar otra Ropa</a>

    {%endblock%}