{%extends "AppInicio/base.html"%}

{%load static%}
{%block menu%}

<li><hr class="dropdown-divider"/><b>Departamentos</b></li>
<li><a class="dropdown-item" href="{% url 'LeerRopaHombre' %}">Hombres</a></li>
<li><a class="dropdown-item" href="{% url 'BusquedaRopaHombre' %}">Busqueda</a></li>
<li><hr class="dropdown-divider"></li>
<li><a class="dropdown-item" href="{% url 'LeerRopaMujer' %}">Mujeres</a></li>
<li><a class="dropdown-item" href="{% url 'BusquedaRopaMujer' %}">Busqueda</a></li>
<li><hr class="dropdown-divider"></li>
<li><a class="dropdown-item" href="{% url 'LeerRopaNiños' %}">Niños</a></li>
<li><a class="dropdown-item" href="{% url 'BusquedaRopaNiños' %}">Busqueda</a></li>

{%endblock%}
    {%block head%}

        <h1 class="display-4 fw-bolder">Busqueda de Ropa</h1>

    {%endblock%}

    {%block contenido%}

        <h1>Ropa para Hombre</h1>

        {% if hombre %}

            <ul>
                
            {% for hombre in hombre %}

            <li>Talle:  {{hombre.talle}}</li>
            <li>Marca:  {{hombre.marca}}</li>
            <li>Color:  {{hombre.color}}</li>
            <li>Precio: {{hombre.precio}}</li>

            {% endfor %}

            </ul>


        {% endif %}

        {%endblock%}
        



